extend layout

block content
    div 
        - const currentTime = new Date().getTime();
        | Au fait, depuis le 1er janvier 1970, se sont écoulées #{currentTime} milliseconds
        | avec le pipe, on peut écrire sur plusieurs lignes et afficher sur une seule            